html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-weight: 1;
    color: rgb(207, 207, 207);   
    background-color: rgb(12, 9, 9);
    height: 100%;
    width: 100%;
    font-size: x-large;
    line-height: 1.5em;
}

#loop_vid {
    position: fixed;
    display: inline-block;
    top: 0;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    transition: all 1s;

}


#nav-logo {
    height: 30px;
    padding: 15px;
    float: left;
}

#nav-logo:hover {
    cursor: pointer;
}

.nav-bar-list-item {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}



.nav-bar-link {
    display: block;
    text-decoration: none;
    color: rgb(130, 155, 87);
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    padding-left: 20px;
    font-family: 'm5x7medium';
    padding-right: 20px;
}

.nav-bar-link:hover {
    border-radius: 10px;
    background-color: rgb(102, 102, 102);
    color: white;

    cursor: pointer;
}



#nav-bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title_content {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
    top: 25%;
    left: 50%;
    color: white;
    transform: translate(-50%, 0);
}

#nav-bar {
    position: fixed;
    z-index: 3;
    height: 60px;
    background-color: rgb(29, 29, 29, 0.7);
    width: 100%;
    transition: all 1s;
    transform: translate(0, -100%);
}


#video-wrapper {
    height: 100%;
    width: 100%;
}

.text_wrapper {
    display: block;
    width: calc(50% - 40px);
    position: relative;
    background-color: rgb(29, 29, 29);
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    margin-bottom: 50px;
}

:root {
    --highlight-color: rgb(206, 219, 26);
  }

.red-highlight-text {
    color: var(--highlight-color);
}

.blue-highlight-text {
    color: var(--highlight-color);
}

.green-highlight-text {
    color: var(--highlight-color);
}

.text_container {
    position: relative;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    text-align: justify;
}

#title {
    margin: 0 auto;
    color: white;
    font-size: 128px;
    line-height: 1em;
    padding: 0;
    letter-spacing: -.02em;
    font-family: 'm5x7medium';
}

h1 {
    color: rgb(130, 155, 87);
    font-family: 'm5x7medium';
    font-size: 50px;
}

#level-prev {
    display: block;
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    padding: 0px;
    min-width: 100%;
    min-height: 100%;
}

#bubble-list {
    display: flex;
    position: absolute;
    height: fit-content;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    overflow: hidden;
}



.bubble-mouse {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 100px;
    z-index: 5;
}

#image-wrapper {}

.level-image {
    display: block;
    position: absolute;
    opacity: 1;
    z-index: 4;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    pointer-events: none;
    transition: clip-path 1s;
}

.level-bubble:hover {}

p {
    z-index: 3;
}

#white_space {
    height: 1080px;
    width: 100%;
}

li {
    text-align: left;
}